@import "tailwindcss";

button {
  cursor: pointer;
}

* {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #C2410C #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #C2410C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9A3412;
}

.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}

.dark ::-webkit-scrollbar-thumb {
  background: #EA580C;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #C2410C;
}