@import "tailwindcss";


button {
  cursor: pointer;
}

* {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #0660D3 #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0660D3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0550b3;
}

.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

